/* arctic.css -- color scheme Arctic, for use with Gutenberg stylesheet */

body
{
	background:  #FFFFFF;
	font-family: Times, serif;
}

body, a.hidden
{
	color: black;
}

h1, h2, h3, h4, h5, h6
{
	color: #001FA4;
	font-family: Arial, sans-serif;
}

.figureHead, .noteref, span.leftnote, p.legend
{
	color: #001FA4;
}

.navline, span.rightnote, span.pageno, span.lineno
{
	color: #AAAAAA;
}

a.navline:hover, a.hidden:hover, a.noteref:hover
{
	color: red;
}
